MONGODB_URI = your_mongodb_connection_string_here
CLOUDINARY_NAME = your_CLOUDINARY_NAME_here
CLOUDINARY_API_KEY = your_secret_key_here
CLOUDINARY_SECRET_KEY = your_CLOUDINARY_SECRET_KEY_here
ADMIN_EMAIL = your_ADMIN_EMAIL_here
ADMIN_PASSWORD = your_ADMIN_PASSWORD_here
JWT_SECRET = your_secret_key_here
RAZORPAY_KEY_ID =your_secret_key_here
RAZORPAY_SECRET_KEY = your_secret_key_here
EMAIL_USER = your_email_username_here
EMAIL_PASSWORD = your_email_password_here
FRONTEND_URL = http://localhost:5173